* {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 1024px;
	height: 768px;
	margin: auto;
}

#header {
	height: 30px;
}

#content {
	height: 718px;
}

#footer {
	height: 20px;
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.power_block {
	padding: 5px;
	display: block;
}

.manual_block {
	padding: 5px;
	width: 494px;
	height: 268px;
	margin-top: 5px;
	display: block;
}

.powerlabel {
	width: 183px;
	margin: 5px;
}

.valvelabel {
	width: 100px;
	height: 100px;
	margin: 10px;
	float: left;
}

.valvelabel span {
	margin-top: 35px;
}

.pumplabel, .elementlabel {
	width: 215px;
	height: 215px;
	margin: 15px;
	float: left;
}

.pumplabel span, .elementlabel span {
	margin-top: 90px;
}
