* {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 1024px;
	height: 768px;
	margin: auto;
}

#header {
	height: 30px;
}

#content {
	height: 718px;
}

#footer {
	height: 20px;
	text-align: center;
}

.manual_block {
	border: 1px solid #000;
	background: #777;
	padding: 5px;
	float: left;
	width: 455px;
	height: 275px;
	margin: 10px;
}

.valvelabel {
	width: 92px;
	height: 92px;
	margin: 15px;
	float: left;
}

.valvelabel span {
	margin-top: 30px;
}

.pumplabel, .elementlabel {
	width: 200px;
	height: 200px;
	margin: 15px;
	float: left;
}

.pumplabel span, .elementlabel span {
	margin-top: 85px;
}
